:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* GENERAL */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #213547;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1, h2, h3, h4, h5, p, input, select, option, button {
  margin-left: 20px;
  font-family: inherit
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* PAGE CONTAINER */
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

/* HEADER */
header,
header button {
  display: flex;
  align-items: center;
  background-color: #213547;
  color: rgba(255, 255, 255, 0.87);;
  gap: 1rem;
  border: none;
  padding: 10px 20px;
  border-bottom: 3px solid #213547;
}

/* 213547 */
/* rgba(255, 255, 255, 0.87); */

header {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* NAV BAR */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 0;
}

.nav-bar button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.25s
}

.nav-bar button:hover,
.nav-bar button:active {
  background-color: #213547;
  color: rgba(255, 255, 255, 0.87);
}

/* FOOTER */
footer {
  margin-top: 12vh;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

/* FORMS AND INPUTS */
input, select {
  width: 80vw; /* check this */
  height: 32px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: #213547;
  color: rgba(255, 255, 255, 0.87);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* STUDY CARD */
.study-card {
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 8px;
  max-width: 95%;
  box-sizing: border-box;
}

.title-wrapper {
  position: relative;
}

.study-title {
  margin: 0;
  padding-right: 80px;
}

.percentile-card {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.2rem;  
}
.percentile-card:hover {
  font-size: 1.3rem;
  transition: 0.25s
}
.low-probability {
  background-color: rgb(255, 145, 145);
}
.medium-probability {
  background-color: rgb(226, 226, 226);
}
.high-probability {
  background-color: rgb(160, 255, 145);
}

.percentile-contents {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 228px;
  background-color: white;
  color: #333;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: normal;
}
.percentile-card:hover .percentile-contents {
  display: block;
}


.study-info {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

/* ACTION AND BUTTONS IN STUDY CARD */
.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.actions button,
.action select {
  flex: 1 1 150px;
}

.accept-btn {
  background-color: rgb(173, 239, 173);
}

.reject-btn {
  background-color: rgb(237, 159, 159);
}

/* HIGHLIGHTING */
.highlight-include {
  background-color: rgba(121, 255, 121, 0.4);
  padding: 0 3px;
}
.highlight-include p {
  font-weight: 500;
}
.highlight-exclude {
  background-color: rgba(255, 0, 0, 0.4);
  padding: 0 3px;

}
.highlight-exclude p {
  font-weight: 500;
}
.highlight-filter {
  background-color: rgba(0, 0, 128, 0.7);
  color: #fff;
  padding: 0 3px;
}
.highlight-filter p {
  font-weight: 500;
}

/* UTILITY */
.filter-notice, .toggle-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-section {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.homepage-section:hover {
  font-size: 101%;
}

.criteria-section {
  padding: 20px;
}

.inclusion-exclusion-criteria {
  padding-left: 20px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: lightgray;
}

/* SCREENING OPTIONS */
.screening-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 12px 16px;
  align-items: center;
  padding: 16px;
  background: #f8f9fa;
  border-radius: 6px;
  margin-bottom: 20px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.nav-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
}
.nav-group label {
  font-size: 13px;
  font-weight: 500;
  color: #213547
}

.screening-nav input,
.screening-nav select,
.screening-nav button {
  font-size: 0.85rem;
  padding: 4px 8px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 100px;
  flex: 1;
}

.screening-nav button {
  background-color: #213547;
  color: white;
  cursor: pointer;
}
.screening-nav button:hover {
  background-color: #3a4f6c;
}

.screening-nav i,
.screening-nav label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #213547;
}

.filter-group input {
  flex: 2;
  min-width: 160px;
}

/* SUBHEADINGS FOR AWAITING / CONFLICT / REJECTED ETC */
.toggle-status {
  padding-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .screening-nav {
    flex-direction: column;
    align-items: stretch;
  }

  .disappear-when-reduced {
    display: none;
  }

  .nav-group {
    width: 100%;
    justify-content: flex-start;
  }
}

/* OTHER */
.adding-bottom-margin {
  margin-bottom: 8px;
}

/* AUTHENTICATION */
.log-in {
  margin: 40px;
}

.log-in button {
  margin-top: 10px;
}

.log-in input {
  margin-top: 20px;
}

.log-in label,
.log-in input,
.new-project label,
.new-project input {
  display: block;
  margin-bottom: 0.5rem;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .actions button,
  .actions select {
    flex: 1 1 100%;
  }

  .nav-bar {
    justify-content: center;
  }

  .study-card {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    gap: 8px;
  }

  input, select {
    width: 100%;
  }

  .study-card {
    margin: 5px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}